/*                           Styles de base                          */
/* ================================================================= */

:root {
    --blue1: #c393cb;
    --blue2: #9f6ab9;
    --pink1: #E91E63;
    --pink2: #ff377b;
    --altback: #1b001f;
}

html {scroll-behavior: smooth}

body {
    margin: 0;
    padding: 0;
    color: var(--blue1);
    font-family: "Open Sans", sans-serif;
}

body::-webkit-scrollbar {width: 7px;}
body::-webkit-scrollbar-track {background: black;}
body::-webkit-scrollbar-thumb:hover {background: var(--blue1);}

body::-webkit-scrollbar-thumb {
    background: var(--blue2);
    border-radius: 30px;
    transition: all .2s;
}

button {border: none}


/*                        Barre de navigation                        */
/* ================================================================= */

header {
    font-family: "Montserrat", sans-serif;
    background: black;
    position: sticky;
    line-height: 84px;
    height: 84px;
    z-index: 1;
    top: 0;
}

header a {
    text-decoration: none;
    color: inherit;
}

header span {
    color: black;
}

.short-text {display: none;}

@media (max-width: 1100px) {.responsive {display: none;}}

@media (max-width: 430px) {
    .full-text {display: none;}
    .short-text {display: inline-block;}
}

header #logo {
    font-size: 28px;
    font-weight: 700;
    color: var(--pink2);
    text-decoration: solid;
    padding-left: 3ch;
    float: left;
}

header ul {
    list-style-type:none;
    margin: 0;
    float: right;
}

header li {
    font-family: "Raleway", sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: var(--blue2);
    transition: color .3s;
    display:block;
    float: left;
    text-align:center;
    padding-right: 30px;
}

header li:hover {color: var(--pink2);}

#scrollBtn {
    visibility: hidden;
    opacity: 0;
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 1;
    border: none;
    outline: none;
    background: var(--blue2);
    color: black;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
    font-size: 20px;
    font-family: sans-serif;
    transition: visibility .2s, opacity .2s linear, background .2s;
}
  
#scrollBtn:hover {background: var(--pink1);}


/*                          Accueil du site                          */
/* ================================================================= */

#intro {
    width: 100%;
    height: 90vh;
    background: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#intro h1 {
    font-family: 'Russo One';
    font-size: 64px;
    font-weight: 700;
    text-transform: uppercase;
    background: -webkit-linear-gradient(#ffc08a, var(--pink2));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-left: 10%;
    margin-bottom: 30px;
    display: block;
}

@media (max-width: 300px) {#intro h1 {font-size: 55px;}}

#intro a {
    font-family: sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
    letter-spacing: 1px;
    text-decoration: none;
    color: var(--pink2);
    transition: 0.5s;
}

#intro a:hover {color: var(--blue1)}
#intro a:not(:first-child) {margin-left: 2%;}

#intro #medias {margin-left: 10%}

#intro .parallax {
    content: " ";
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateZ(-1px) scale(1.5);
    background-image: url('images/background.jpg');
    background-size: 100%;
    z-index: -1;
}


/*                         Base des sections                         */
/* ================================================================= */

section {background: black;}
.alt {background: var(--altback)}

.container {
    max-width: 90vw;
    text-align: justify;
    text-align-last: center;
    display: block;
    margin: 0 auto;
    padding: 4% 0 4% 0;
}

@media (min-width: 1300px) {.container {max-width: 70vw;}}

section h2 {
    font-family: "Montserrat", sans-serif;
    font-size: 32px;
    font-weight: 700;
    padding-bottom: 2%;;
    margin: 0 0 4% 0;
    position: relative;
    color: var(--pink1);
    text-transform: uppercase;
    text-align: center;
}

section h2::after {
    content: '';
    display: block;
    position: absolute;
    width: 62px;
    height: 3px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    box-sizing: border-box;
    border-top: var(--pink1) solid 2px;
}

section p {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    margin: 0 1% 2% 1%;
}

section #notice {
    color: #858380;
    font-style: italic;
    font-size: .75rem;
    margin-top: 2%;
}

@media (max-width: 500px) {
    .container {padding: 8% 0 8% 0}
    section h2 {
        margin: 0 0 8% 0;
        padding-bottom: 4%;
    }
}


/*                       Section Présentation                        */
/* ================================================================= */

#event .row {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 1% 0 1%;
}

#event .column {
    border: 2px solid var(--pink1);
    border-radius: 15px;
    transition: background .5s;
    width: 100%;
    position: relative;
    overflow: hidden;
}

#event .column img {
    height: 100px;
    width: auto;
    padding: 5vh 0;
}

#event .column {background: black}
#event .column:not(:first-child){margin-left: 2%;}

@media (max-width: 960px) {
    #event .row {display: block;}
    #event .column:not(:first-child){margin: 2% 0 0 0;}
}

@media (max-width: 500px) {
    #event .column {margin-bottom: 4%}
    #event #notice {margin: 4% 0 4% 0}
}

#event .column button {
    display: block;
    width: 100%;
    color: black;
    background: var(--pink1);
    font-weight: 700;
    font-size: 16px;
    border-top: 2px var(--pink1) solid;
    padding: 10px 0;
    transition: background .5s;
}

#event .column button:hover {
    background: var(--blue1);
}

iframe {
    width: 98%;
    height: 400px;
    margin-top: 4%;
    border: none;
    border-radius: 15px;
    filter: grayscale(75%) invert(1);
}

#popup, #popupActivated {
    position: fixed;
    z-index: 10;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    border: 2px var(--pink1) solid;
    border-radius: 15px;
    background: black;
    transition: all .2s;
    overflow: hidden;
    max-width: 90vw;
}

#popupActivated {
    transform: translate(-50%, -50%) scale(1);
}

#popupActivated a {
    display: block;
    padding: 10px 15px;
    color: black;
    background: var(--pink1);
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    transition: background .5s;
}

#popupHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px var(--pink1) solid;
    padding: 10px 15px;
    text-transform: uppercase;
    font-weight: bold;
}

#popupHeader button {
    background: none;
    color: var(--pink1);
    font-weight: 700;
    font-size: 20px;
}

#popupHeader button:hover, #popupHeader button:focus {
    color: var(--blue2);
}

#popupActivated a:hover {
    background: var(--blue1);
}

#popupContent {
    padding: 10px 15px;
    white-space: pre-wrap;
}

#overlay, #overlayActivated {
    position: fixed;
    z-index: 5;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, .5);
    transform: scale(0);
}

#overlayActivated {transform: scale(1);}


/*                        Section Calendrier                         */
/* ================================================================= */

table {
    border-collapse: collapse;
    text-align: center;
    margin: 0 auto;
    border: none;
}

td {
    width: 20vw;
    height: 4vh;
    color: black;
    font-weight: bold;
    text-transform: uppercase;
    background: var(--altback);
    border: 1px solid var(--blue1);
}

.room, .hour {
    color: var(--blue1);
    background: black;
}

.hour {
    width: 3vw;
    vertical-align: top;
}

#empty {
    background: var(--altback);
    border: none;
    width: 0;
}

.LoL {background: #894694}
.RL {background: #1c7ebb}
.break {background: var(--pink1)}

@media (max-width: 900px) {
    td {
        font-size: .9rem;
        width: 30vw;
    }
}

@media (max-width: 550px) {td {width: 35vw;}}


/*                         Section Club Info                         */
/* ================================================================= */

#staff img {
    max-width: 50%;
    height: auto;
    margin-bottom: -1.3%;
}

#staff .row {
    font-family: "Montserrat", sans-serif;
    grid-template-columns: repeat(4, 25%);
    align-items: center;
    justify-content: center;
    display: grid;
    color: var(--pink1);
}

#staff .column {
    background: white;
    margin: 4% 4% 4% 4%;
    border-radius: 5px;
}

#staff .name {
    font-weight: bold;
    font-size: 18px;
    padding-top: 4%;
    border-top: var(--pink1) solid 4px
}

#staff .role {
    font-size: 13px;
    font-style: italic;
    font-weight: 400;
    margin-bottom: 4%;
}

@media (max-width: 1100px) {#staff .row {grid-template-columns: repeat(2, 50%)}}
@media (max-width: 550px) {#staff .row {grid-template-columns: repeat(1, 100%);}}


/*                        Section partenaires                        */
/* ================================================================= */

#sponsors img {
    width: 35vw;
    height: auto;
    padding: 10px;
    background: white;
    border-radius: 10px;
    margin: 1% 0 2% 0;
}

#sponsors p {
    padding: 0 0 2% 0;
    margin: 0 1% 2% 1%;
    text-align-last: center;
}

@media (max-width: 1300px) {#sponsors img {width: 50vw;}}
@media (max-width: 900px) {
    #sponsors img {width: 60vw;}
    #sponsors p {margin: 0 1% 4% 1%;}
}

@media (max-width: 500px) {
    #sponsors img {width: 90%;}
    #sponsors p {margin: 0 1% 8% 1%;}
}


/*                            Bas de page                            */
/* ================================================================= */

footer {
    padding: 2% 0 2% 0;
    text-align: center;
    background: black;
}

footer a {
    color: #858380;
    font-size: .90rem;
    text-decoration: none;
    transition: color .3s;
}

footer a:hover {color: #e4d0d0}

@media (max-width: 900px) {footer {padding: 4% 0 4% 0}}
@media (max-width: 500px) {footer {padding: 8% 0 8% 0}}


/*                         Mentions Légales                          */
/* ================================================================= */

#mentions a {
    color: var(--blue2);
    text-decoration: none;
}

#mentions p {
    padding-bottom: 4%;
    margin: 0 1%;
}

#mentions h2:first-child {padding-top: 4%;}
#mentions .container {padding: 0}

@media (max-width: 500px) {
    #mentions p {padding-bottom: 8%}
    #mentions h2:first-child {padding-top: 8%;}
    #mentions h2 {
        font-size: 25px;
        padding-bottom: 4%;
    }
}