html {
  scroll-behavior: smooth;
}
html body {
  color: #C393CB;
  font-family: "Open Sans", sans-serif;
}
html body::-webkit-scrollbar {
  width: 7px;
}
html body::-webkit-scrollbar-track {
  background: black;
}
html body::-webkit-scrollbar-thumb:hover {
  background: #E91E63;
}
html body::-webkit-scrollbar-thumb {
  background: #9F6AB9;
  border-radius: 30px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
html * {
  margin: 0;
  padding: 0;
  border: none;
  text-decoration: none;
}
html button {
  cursor: pointer;
}

header {
  top: 0;
  z-index: 3;
  height: 84px;
  line-height: 84px;
  position: -webkit-sticky;
  position: sticky;
  color: #C393CB;
  background-color: black;
  font-size: 14px;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
}
header a {
  color: inherit;
  transition: color 0.2s;
  padding-right: 30px;
}
header a:hover {
  color: #E91E63;
}
header nav {
  float: right;
}
@media (max-width: 1100px) {
  header nav {
    display: none;
  }
}
header #short {
  display: none;
}
header #logo {
  float: left;
  font-size: 28px;
  padding-left: 3ch;
}

#topBtn {
  z-index: 1;
  opacity: 0;
  position: fixed;
  bottom: 29px;
  right: 30px;
  background: #9F6AB9;
  padding: 15px;
  border-radius: 5px;
  transition: all 0.2s ease-in;
}
#topBtn:hover {
  background: #E91E63;
}

#intro {
  height: 90vh;
  background: fixed center no-repeat;
  background-size: cover;
}
#intro div {
  padding: 15% 0 0 10%;
}
#intro h1 {
  font-family: "Russo One", sans-serif;
  font-size: 64px;
  font-weight: 700;
  text-transform: uppercase;
  background: -webkit-linear-gradient(#ffc08a, #FF377B);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
}
#intro a {
  font-size: 2.5rem;
  color: #FF377B;
  transition: color 0.2s;
  margin: 30px 1% 0 0;
}
#intro a:hover {
  color: #C393CB;
}

section:nth-child(2n+1) {
  background-color: black;
}
section:nth-child(2n) {
  background-color: #1B001F;
}
section h2 {
  margin-bottom: 45px;
  color: #E91E63;
  font-family: "Montserrat", sans-serif;
  font-size: 32px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}
section h2::after {
  content: "";
  display: block;
  position: absolute;
  width: 62px;
  height: 2px;
  margin-top: 15px;
  left: calc(50% - 32px);
  background-color: #E91E63;
}
section p {
  font-size: 1rem;
  margin-bottom: 20px;
}
section #notice {
  color: #858380;
  font-style: italic;
  font-size: 0.75rem;
}

.container {
  max-width: 90vw;
  text-align: justify;
  -moz-text-align-last: center;
       text-align-last: center;
  margin: 0 auto;
  padding: 50px 0;
}
@media (min-width: 1300px) {
  .container {
    max-width: 70vw;
  }
}

#event .column {
  width: 100%;
  overflow: hidden;
  border-radius: 15px;
  border: 2px solid #E91E63;
  transition: background-color 0.2s;
}
#event .column:not(:first-child) {
  margin: 25px 0 0 0;
}
#event .column img {
  height: 100px;
  width: auto;
  padding: 5vh 0;
}
#event .column button {
  display: block;
  width: 100%;
  padding: 10px 0;
  font-weight: 700;
  font-size: 16px;
  background: #E91E63;
  border-top: 2px #E91E63 solid;
  transition: background-color 0.2s;
}
#event .column button:hover {
  background-color: #C393CB;
}
@media (min-width: 960px) {
  #event .row {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #event .column:not(:first-child) {
    margin: 0 0 0 25px;
  }
}

.overlay {
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
}
.overlay .modal {
  z-index: 2;
  position: fixed;
  top: 50%;
  left: 50%;
  max-width: 90vw;
  transform: translate(-50%, -50%);
  border: 2px #E91E63 solid;
  border-radius: 15px;
  overflow: hidden;
  background-color: black;
  -webkit-animation-name: animatetop;
          animation-name: animatetop;
  -webkit-animation-duration: 0.2s;
          animation-duration: 0.2s;
}
@-webkit-keyframes animatetop {
  from {
    scale: 0;
    opacity: 0;
  }
  to {
    scale: 1;
    opacity: 1;
  }
}
@keyframes animatetop {
  from {
    scale: 0;
    opacity: 0;
  }
  to {
    scale: 1;
    opacity: 1;
  }
}
.overlay .modal button {
  color: #E91E63;
  font-size: 20px;
  font-weight: 700;
  transition: color 0.2s;
  background-color: transparent;
}
.overlay .modal button:hover, .overlay .modal button:focus {
  color: #9F6AB9;
}
.overlay .modal .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px #E91E63 solid;
  padding: 10px 15px;
  text-transform: uppercase;
  font-weight: 700;
}
.overlay .modal .content {
  display: block;
  padding: 10px 15px;
}
.overlay .modal a {
  display: block;
  padding: 10px 15px;
  color: black;
  background: #E91E63;
  font-weight: 700;
  text-align: center;
  transition: background-color 0.2s;
}
.overlay .modal a:hover {
  background-color: #C393CB;
}

table {
  border-collapse: collapse;
  text-align: center;
  margin: 0 auto;
}
table td {
  width: 350px;
  height: 40px;
  color: black;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #1B001F;
  border: 1px solid #C393CB;
}
table .room, table .hour {
  width: 55px;
  color: #C393CB;
  background-color: black;
}
table .hour {
  vertical-align: top;
}
table #empty {
  border: none;
  width: 0;
}
table .LoL {
  background-color: #894694;
}
table .RL {
  background-color: #1c7ebb;
}
table .break {
  background-color: #E91E63;
}

#staff img {
  height: auto;
  max-width: 50%;
  vertical-align: bottom;
}
#staff .grid {
  margin: -10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: #E91E63;
}
#staff .column {
  min-width: 0;
  max-width: 275px;
  background-color: white;
  margin: 10px;
  border-radius: 5px;
}
#staff .name {
  font-weight: 700;
  font-size: 18px;
  padding-top: 4%;
  border-top: #E91E63 solid 4px;
}
#staff .role {
  font-size: 14px;
  font-style: italic;
  margin-bottom: 4%;
}

#sponsors {
  -moz-text-align-last: center;
       text-align-last: center;
}
#sponsors img {
  width: 50%;
  height: auto;
  padding: 10px;
  background: white;
  border-radius: 10px;
  margin: 1% 0 2% 0;
}

footer {
  padding: 25px 0;
  text-align: center;
  background: black;
}
footer a {
  color: #858380;
  font-size: 0.9rem;
  text-decoration: none;
  transition: color 0.2s;
}
footer a:hover {
  color: #e4d0d0;
}

#mentions a {
  color: #9F6AB9;
  transition: color 0.2s;
}
#mentions a:hover {
  color: #E91E63;
}
#mentions p {
  padding-bottom: 50px;
  margin: 0;
}
#mentions h2:first-child {
  padding-top: 50px;
}
#mentions .container {
  padding: 0;
}

@media (max-width: 600px) {
  section p, td {
    font-size: 14px;
  }
  section h2 {
    font-size: 26px;
  }
  #sponsors img {
    width: 80%;
  }
  header #short {
    display: inline;
  }
  header #long {
    display: none;
  }
}
:root, :host {
  --fa-style-family-brands: "Font Awesome 6 Brands";
  --fa-font-brands: normal 400 1em/1 "Font Awesome 6 Brands";
  --fa-style-family-classic: "Font Awesome 6 Free";
  --fa-font-solid: normal 900 1em/1 "Font Awesome 6 Free";
}

@font-face {
  font-family: "Font Awesome 6 Free";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url("/static/fonts/fa-solid-900.woff2") format("woff2");
}
@font-face {
  font-family: "Font Awesome 6 Brands";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/static/fonts/fa-brands-400.woff2") format("woff2");
}
.fab,
.fa-brands {
  font-weight: 400;
  font-family: "Font Awesome 6 Brands";
}

.fa-instagram:before {
  content: "\f16d";
}

.fa-facebook:before {
  content: "\f09a";
}

.fa-discord:before {
  content: "\f392";
}

.fa-youtube:before {
  content: "\f167";
}

.fas,
.fa-solid {
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
}

.fa-arrow-up::before {
  content: "\f062";
}

.fa-gamepad::before {
  content: "\f11b";
}/*# sourceMappingURL=style.css.map */