@charset "UTF-8";
html {
    scroll-behavior: smooth;
}
html body {
    color: #69699f;
    font-family: "Open Sans", sans-serif;
}
html body::-webkit-scrollbar {
    width: 7px;
}
html body::-webkit-scrollbar-track {
    background: #92d7c5;
}
html body::-webkit-scrollbar-thumb:hover {
    background: #e22f8a;
}
html body::-webkit-scrollbar-thumb {
    background: #69699f;
    border-radius: 30px;
    transition: all 0.2s;
}
html .slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}
html .slideshow-container .mySlides {
    display: none;
}
html .slideshow-container .mySlides img {
    max-height: 500px;
    width: auto;
    object-fit: cover;
    background-position: top top;
}
html .slideshow-container .prev,
html .slideshow-container .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
html .slideshow-container .prev:hover,
html .slideshow-container .next:hover {
    background-color: #e22f8a;
}
html .slideshow-container .next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
html * {
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
}
html button {
    cursor: pointer;
    font-family: inherit;
}

header {
    top: 0;
    z-index: 3;
    height: 84px;
    line-height: 84px;
    position: sticky;
    color: #69699f;
    background-color: #92d7c5;
    font-size: 14px;
    font-weight: 700;
    font-family: "Montserrat", sans-serif;
}
header a {
    color: inherit;
    transition: color 0.2s;
    padding-right: 30px;
}
header a:hover {
    color: #e22f8a;
}
header nav {
    float: right;
}
@media (max-width: 1100px) {
    header nav {
        display: none;
    }
}
header #short {
    display: none;
}
header #logo {
    float: left;
    font-size: 28px;
    padding-left: 3ch;
}

#topBtn {
    z-index: 1;
    opacity: 0;
    position: fixed;
    bottom: 29px;
    right: 30px;
    background: #69699f;
    padding: 15px;
    border-radius: 5px;
    transition: all 0.2s ease-in;
}
#topBtn:hover {
    background: #e22f8a;
}

#intro {
    height: 90vh;
    background: fixed center no-repeat;
    background-size: cover;
}
#intro div {
    padding: 10% 0 0 10%;
}
#intro h1 {
    font-family: "Zorque", sans-serif;
    font-size: 74px;
    text-transform: uppercase;
    background: -webkit-linear-gradient(#e22f8a, #e98ebc);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
#intro h3 {
    font-family: "Zorque", sans-serif;
    font-size: 34px;
    background: -webkit-linear-gradient(#e98ebc, #e22f8a);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
#intro h3 sup {
    font-size: 14px;
}
#intro a {
    font-size: 2.5rem;
    color: #e22f8a;
    transition: color 0.2s;
    margin: 30px 1% 0 0;
}
#intro a:hover {
    color: #92d7c5;
}

section:nth-child(2n+1) {
    background-color: #92d7c5;
}
section:nth-child(2n) {
    background-color: #69699f;
}
section h2 {
    margin-bottom: 45px;
    color: #e22f8a;
    font-family: "Montserrat", sans-serif;
    font-size: 32px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}
section h2::after {
    content: "";
    display: block;
    position: absolute;
    width: 62px;
    height: 2px;
    margin-top: 15px;
    left: calc(50% - 32px);
    background-color: #e22f8a;
}
section p {
    font-size: 1rem;
    margin-bottom: 20px;
}
section #notice {
    color: #858380;
    font-style: italic;
    font-size: 0.75rem;
}

.container {
    max-width: 90vw;
    text-align: justify;
    text-align-last: center;
    margin: 0 auto;
    padding: 50px 0;
}
@media (min-width: 1300px) {
    .container {
        max-width: 70vw;
    }
}

#event b {
    font-weight: 700;
}
#event a {
    color: #69699f;
    text-decoration: underline #69699f;
}
#event .column {
    width: 100%;
    overflow: hidden;
    border-radius: 15px;
    border: 2px solid #e22f8a;
    transition: background-color 0.2s;
}
#event .column:not(:first-child) {
    margin: 25px 0 0 0;
}
#event .column img {
    height: 100px;
    width: auto;
    padding: 5vh 0;
}
#event .column button {
    display: block;
    width: 100%;
    padding: 10px 0;
    font-weight: 700;
    font-size: 16px;
    background: #e22f8a;
    border-top: 2px #e22f8a solid;
    transition: background-color 0.2s;
}
#event .column button:hover {
    background-color: #92d7c5;
}
@media (min-width: 960px) {
    #event .row {
        padding: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #event .column:not(:first-child) {
        margin: 0 0 0 25px;
    }
}

.overlay {
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
}
.overlay .modal {
    z-index: 2;
    position: fixed;
    top: 50%;
    left: 50%;
    max-width: 90vw;
    transform: translate(-50%, -50%);
    border: 2px #e22f8a solid;
    border-radius: 15px;
    overflow: hidden;
    background-color: #92d7c5;
    animation-name: animatetop;
    animation-duration: 0.2s;
}
@keyframes animatetop {
    from {
        scale: 0;
        opacity: 0;
    }
    to {
        scale: 1;
        opacity: 1;
    }
}
.overlay .modal button {
    color: #e22f8a;
    font-size: 20px;
    font-weight: 700;
    transition: color 0.2s;
    background-color: transparent;
}
.overlay .modal button:hover, .overlay .modal button:focus {
    color: #69699f;
}
.overlay .modal .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px #e22f8a solid;
    padding: 10px 15px;
    text-transform: uppercase;
    font-weight: 700;
}
.overlay .modal .content {
    display: block;
    padding: 10px 15px;
}
.overlay .modal a {
    display: block;
    padding: 10px 15px;
    color: #92d7c5;
    background: #e22f8a;
    font-weight: 700;
    text-align: center;
    transition: background-color 0.2s;
}
.overlay .modal a:hover {
    background-color: #92d7c5;
}

table {
    border-collapse: collapse;
    text-align: center;
    margin: 0 auto;
}
table td {
    width: 350px;
    height: 40px;
    color: #92d7c5;
    font-weight: 700;
    text-transform: uppercase;
    background-color: #fbfefe;
    border: 1px solid #92d7c5;
}
table .room,
table .hour {
    width: 55px;
    color: #92d7c5;
    background-color: #92d7c5;
}
table .hour {
    vertical-align: top;
}
table #empty {
    border: none;
    width: 0;
}
table .LoL {
    background-color: #894694;
}
table .RL {
    background-color: #1c7ebb;
}
table .break {
    background-color: #e22f8a;
}

#staff img {
    height: auto;
    max-width: 50%;
    vertical-align: bottom;
}
#staff .grid {
    margin: -10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: #e22f8a;
}
#staff .column {
    min-width: 0;
    max-width: 275px;
    background-color: white;
    margin: 10px;
    border-radius: 5px;
}
#staff .name {
    font-weight: 700;
    font-size: 18px;
    padding-top: 4%;
    border-top: #e22f8a solid 4px;
}
#staff .role {
    font-size: 14px;
    font-style: italic;
    margin-bottom: 4%;
}

#sponsors {
    text-align-last: center;
}
#sponsors img {
    width: 50%;
    height: auto;
    padding: 10px;
    background: white;
    border-radius: 10px;
    margin: 1% 0 2% 0;
}

footer {
    padding: 25px 0;
    text-align: center;
    background: #92d7c5;
}
footer a {
    color: #858380;
    font-size: 0.9rem;
    text-decoration: none;
    transition: color 0.2s;
}
footer a:hover {
    color: #e4d0d0;
}

#mentions {
    background: #92d7c5;
}
#mentions a {
    color: #69699f;
    transition: color 0.2s;
}
#mentions a:hover {
    color: #e22f8a;
}
#mentions p {
    padding-bottom: 50px;
    margin: 0;
}
#mentions h2:first-child {
    padding-top: 50px;
}
#mentions .container {
    padding: 0;
}

@media (max-width: 600px) {
    section p,
td {
        font-size: 14px;
    }

    section h2 {
        font-size: 26px;
    }

    #sponsors img {
        width: 80%;
    }

    header #short {
        display: inline;
    }
    header #long {
        display: none;
    }
}
@font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url("../fonts/montserrat-700.woff2") format("woff2");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    font-stretch: 100%;
    font-display: swap;
    src: url("../fonts/open-sans-400.woff2") format("woff2");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 700;
    font-stretch: 100%;
    font-display: swap;
    src: url("../fonts/open-sans-700.woff2") format("woff2");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
    font-family: "Russo One";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url("../fonts/russo-one.woff2") format("woff2");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
    font-family: "Font Awesome 6 Free";
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: url("../fonts/fa-solid-900.woff2") format("woff2");
}
@font-face {
    font-family: "Font Awesome 6 Brands";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("../fonts/fa-brands-400.woff2") format("woff2");
}
@font-face {
    font-family: "Zorque";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url("../fonts/zorque.ttf") format("ttf");
}
.fab,
.fa-brands {
    font-weight: 400;
    font-family: "Font Awesome 6 Brands";
}

.fa-instagram:before {
    content: "";
}

.fa-facebook:before {
    content: "";
}

.fa-discord:before {
    content: "";
}

.fa-youtube:before {
    content: "";
}

.fas,
.fa-solid {
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
}

.fa-arrow-up::before {
    content: "";
}

.fa-gamepad::before {
    content: "";
}