$blue1: #c6b7f1;
$blue2: #1c7ebb;
$pink: #e22f8a;

html {
  scroll-behavior: smooth;

  body {
    color: black;
    font-family: "Open Sans", sans-serif;

    &::-webkit-scrollbar {
      width: 7px}

    &::-webkit-scrollbar-track {
      background-color: white}

    &::-webkit-scrollbar-thumb {
      background-color: $blue2;

      &:hover {
        background-color: $pink}
    }

    a {
      display: inline-block;
      color: black;
      text-decoration: none;
      transition: all 0.2s ease;

      &:hover {
        color: $blue2;
        transform: scale(1.02);
        -webkit-transform: scale(1.02);
      }
    }

    img {
      user-select: none;
    }
  }

  * {
    margin: 0;
    padding: 0;
    border: none;
    font-style: normal;
    text-decoration: none;
  }

  button {
    cursor: pointer;
    font-family: inherit;
    background-color: white;
  }

  b {
    font-weight: 700;}
}


header {
  top: 0;
  z-index: 3;
  height: 84px;
  line-height: 84px;
  position: sticky;
  user-select: none;
  box-shadow: 0 6px 13px -7px rgb(0 0 0 / 20%);

  color: black;
  background-color: white;
  font-size: 14px;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;

  a:not(:last-child) {
    padding-right: 30px;}

  nav {
    float: right;
    padding-right: 30px;
    
    @media (max-width: 1100px) {
      display: none}
  }

  #logo {
    float: left;
    font-size: 28px;
    padding-left: 3ch;

    &::before {
      font-family: "Font Awesome 6 Free";
      content: "\f11b";
    }

    &::after {
      font-family: "Montserrat", sans-serif;
      content: "Poly Games Day";

      @media (max-width: 600px) {
        content: "PGD"}
    }
  }
}


#intro {
  height: 100vh;
  height: 100svh;
  user-select: none;
  background: url('../images/background.webp') fixed center no-repeat;
  background-size: cover;

  #intro-container {
    width: fit-content;
    padding: 10% 10% 0 10%;
  }

  h1 {
    color: $pink;
    font-size: 74px;
    font-family: "Zorque", sans-serif;
    text-transform: uppercase;
    user-select: none;

    &::after {
      display: block;
      font-size: 34px;
      margin: 0 12% 10px 12%;
      content: "25 Mars 2023 - 6e édition ";

      @media (max-width: 600px) {
        content: "25 Mars 2023\A 6e édition";
        white-space: pre-wrap;
      }
    }
  }

  a {
    color: $pink;
    font-size: 2.5rem;
    margin-right: 1%;
    transition: color 0.2s ease;

    &:hover {color: $blue2}
  }

  #cta {
    color: white;
    display: block;
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    transition: all 0.2s ease;

    width: 76%;
    padding: 10px 0;
    margin: 0 12%;
    border-radius: 5px;
    background-color: $pink;
    border: $pink solid 2px;

    &:hover {
      transform: none;
      background-color: $blue2;
      border: $blue2 solid 2px;
    }

    &:active {
      transform: scale(0.95);
    }
  }
}


section {
  scroll-margin-top: 65px;
  &:nth-child(2n) {background-color: $blue1}

  h2 {
    margin-bottom: 45px;
    color: black;
    font-family: "Montserrat", sans-serif;
    font-size: 32px;
    font-weight: 700;
    user-select: none;
    text-transform: uppercase;

    &::after {
      content: "";
      display: block;
      position: absolute;
      width: 62px;
      height: 2px;
      margin-top: 15px;
      left: calc(50% - 32px);
      background-color: black;
    }
  }

  p {
    font-size: 1rem;
    margin-bottom: 20px;
  }

  #notice {
    color: #6d6565;
    font-style: italic;
    font-size: 0.75rem;
    margin-bottom: 0;
  }
}

.container {
  max-width: 65vw;
  margin: 0 auto;
  padding: 50px 0;
  text-align: center;
}


.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .column {
    min-width: 0;
    max-width: 275px;
    background-color: white;
    margin: 10px;
    border-radius: 5px;
  }
  
  img {
    height: auto;
    max-width: 50%;
    vertical-align: bottom;
  }
  
  span {display: block;}
  
  .name {
    font-weight: 700;
    font-size: 18px;
    padding-top: 4%;
    border-top: $blue1 solid 4px;
  }
  
  .role {
    font-size: 14px;
    font-style: italic;
    margin-bottom: 4%;
  }
}


#inscriptions {
  .column:first-child img {
    margin-top: 12px;
  }

  img {
    max-width: 65%;
    padding: 4% 0;
  }

  a {
    font-size: 2rem;
    margin-top: 10px;
    transition: color 0.2s ease;

    &:hover {color: $pink}
    &:not(:last-child) {margin-right: 10px;}
  }
}


.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;

  #slide {
    padding: 50px;
    margin-top: 3px;

    img {
      width: 100%;
      display: none;
      max-height: 500px;
      object-fit: cover;
      border-radius: 5px;
      background-position: top top;
    }
  }

  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    font-weight: bold;
    font-size: 18px;
    transition: 0.2s ease;
    border-radius: 3px;
    user-select: none;

    &:hover {
      background-color: $blue2;
    }
  }

  .next {right: 0}
}


.responsive {
  display: none;
}

table {
	border-collapse: collapse;
	text-align: center;
	margin: 25px auto;
  background-color: $blue2;

  tbody {
    border: 5px solid #fff;
  }

  td {
    &:not(:first-child) {
      width: 250px;
      height: 30px;
      padding: 5px;
      font-weight: 700;
      text-transform: uppercase;
      border: 2px solid white;
    }

    &:first-child {
      width: auto;
      height: 35px;
      padding: 5px;
      font-weight: 700;
      font-size: 0.8rem;
      position: relative;
      border-top: none;
      border-right: 5px solid white;
      top: -23px;
      text-align: right;
    }
  }

  #jeuxtab td {
    font-size: 0.8rem;
    height: 25px;
    padding: 0;
    text-shadow: 0 0 7px #444;
  }

  .loltab {background-color: #e98ebc;}
  .mktab {background-color: #92d7c5;}
  .pause, .snack {background-color: $blue2;}
  .repas {background-color: $pink ;}

  .snack {
    writing-mode: vertical-lr;
    text-orientation: upright;
  }

  .empty {
    border: none !important;
    background-color: transparent;
  }
}


#sponsors {
  user-select: none;
  background-color: white;

  img {
    padding: 10px;
    margin: 4% 0 2% 0;
    vertical-align: middle;
    transition: all 0.2s ease;

    &.long {
      width: 200px;
      height: auto;
    }

    &.square {
      width: auto;
      height: 150px;
    }

    &:hover {
      transform: scale(1.05);
      -webkit-transform: scale(1.05);
    }
  }
}


#footer {
  padding: 25px 0;
  text-align: center;
}


#scrollTopBtn {
  z-index: 1;
  opacity: 0;
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 12px 15px;
  border-radius: 50%;
  font-size: 17px;
  background-color: $blue2;
  transition: all 0.2s ease;

  &:hover {
    background-color: $pink;
  }

  &:active {
    transform: scale(0.9);
    -webkit-transform: scale(0.9);
  }
}


#mentions {
  background-color: white;

  p {
    margin: 0;
    padding: 0;
    text-align: justify;

    &:last-child {
      margin-bottom: 50px;
    } 
  }

  .container {padding: 0}
  h2 {padding-top: 50px}
}


#error {
  background-color: white;
  position: absolute;
  top: 45%;
  left: 50%;
  -ms-transform: translate(-45%, -50%);
  transform: translate(-45%, -50%);
}

#loader {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: white;
  transition: all 0.2s ease;
}


@media (max-width: 600px) {
  #intro h1::after {
    margin: 0;
    margin-bottom: 10px;
  }

  #intro #cta {
    margin: 0;
    width: 100%;
  }

  section p, td {font-size: 16px}
  section h2 {font-size: 26px}

  #sponsors img {width: 80%}
  .container {max-width: 80vw;}

  table td {font-size: 12px;}
  .full {display: none;}
  .responsive {display: block;}
}


@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/montserrat-700.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC,
    U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-stretch: 100%;
  font-display: swap;
  src: url("../fonts/open-sans-400.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC,
    U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-stretch: 100%;
  font-display: swap;
  src: url("../fonts/open-sans-700.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC,
    U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: "Zorque";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/zorque.ttf") format("truetype");
}
@font-face {
  font-family: "Font Awesome 6 Free";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url("../fonts/fa-solid-900.woff2") format("woff2");
}

@font-face {
  font-family: "Font Awesome 6 Brands";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/fa-brands-400.woff2") format("woff2");
}

.fab,
.fa-brands {
  font-weight: 400;
  font-family: "Font Awesome 6 Brands";
}
.fas,
.fa-solid {
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
}

.fa-twitch:before {
  content: ""}
.fa-instagram:before {
  content: "\f16d"}
.fa-facebook:before {
  content: "\f09a"}
.fa-discord:before {
  content: "\f392"}
.fa-youtube:before {
  content: "\f167"}
.fa-arrow-up::before {
  content: "\f062"}
.fa-gamepad::before {
  content: "\f11b"}
