@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700;900&family=Open+Sans:wght@400;700&display=swap");

:root {
  --blue1: #c6b7f1;
  --blue2: #1c7ebb;
  --pink: #e22f8a;
}

html {
  scroll-behavior: smooth;
  font-family: "Open Sans", sans-serif;
}

body {
  margin: 0;

  &::-webkit-scrollbar { width: 7px }
  &::-webkit-scrollbar-track { background-color: white }
  &::-webkit-scrollbar-thumb {
    background-color: var(--blue2);
    &:hover { background-color: -var(--pink)}
  }

  & a {
    display: inline-block;
    color: black;
    text-decoration: none;
    transition: color 0.2s ease, transform 0.2s ease;

    &:hover { color: var(--blue2); }
  }

  & button {
    border: none;
    cursor: pointer;
    font-family: inherit;
    background-color: white;
  }

  & h1, h2 { margin: 0; }
  & b { font-weight: 700;}
  & img { user-select: none; }
}

header {
  top: 0;
  z-index: 1;
  position: sticky;
  height: 60px;
  line-height: 60px;
  font-size: 16px;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  background-color: white;
  box-shadow: 0 6px 13px -7px rgb(0 0 0 / 20%);

  & nav {
    gap: 30px;
    float: right;
    display: flex;
    align-items: center;
    height: 100%;
    font-size: 30px;
    padding-right: 3ch;
  }

  #logo {
    float: left;
    font-size: 28px;
    padding-left: 3ch;

    &::before {
      font-family: "Font Awesome 6 Free";
      content: "\f11b";
    }

    &::after { content: "Poly Games Day"; }
  }
}


#intro {
  height: 100vh;
  height: 100vh;
  background: url('images/background.webp') fixed center no-repeat;
  background-size: cover;

  & #intro-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: fit-content;
    padding: 15% 10% 0 10%;
  }

  & h1 {
    color: var(--pink);
    font-size: 74px;
    font-weight: 900;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;

    &::after {
      display: block;
      font-size: 34px;
      text-align: center;
      content: "25 Mars 2023 - 6e édition ";
    }
  }

  & #cta {
    color: white;
    display: block;
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
    transition: background-color 0.2s ease, transform 0.1s ease;

    width: 70%;
    padding: 10px 0;
    border-radius: 5px;
    background-color: var(--pink);
    border: var(--pink) solid 2px;

    &:hover {
      transform: none;
      background-color: var(--blue2);
      border: var(--blue2) solid 2px;
    }

    &:active {
      transform: scale(0.98);
    }
  }
}


section {
  scroll-margin-top: 65px;
  &:nth-child(2n) {background-color: var(--blue1)}

  & h2 {
    font-size: 32px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    margin-bottom: 45px;

    &::after {
      content: "";
      display: block;
      position: absolute;
      width: 62px;
      height: 2px;
      margin-top: 15px;
      left: calc(50% - 32px);
      background-color: black;
    }
  }

  & p {
    font-size: 1.1rem;
    margin-bottom: 20px;
  }

  & #notice {
    color: #6d6565;
    font-style: italic;
    font-size: 0.75rem;
    margin-bottom: 0;
  }
}

& .container {
  max-width: 65vw;
  margin: 0 auto;
  padding: 50px 0;
  text-align: center;
}

.grid {
  gap: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  & .column {
    min-width: 0;
    max-width: 275px;
    background-color: white;
    border-radius: 5px;
  }
  
  & img {
    height: auto;
    max-width: 50%;
    vertical-align: bottom;
  }
  
  & span {display: block;}
  
  & .name {
    font-weight: 700;
    font-size: 18px;
    padding-top: 4%;
    border-top: var(--blue1) solid 4px;
  }
  
  & .role {
    font-size: 14px;
    font-style: italic;
    margin-bottom: 4%;
  }
}


#inscriptions {
  & .column:first-child img {
    margin-top: 10px;
  }

  & img {
    max-width: 65%;
    padding: 4% 0;
  }
}


table {
	margin: 25px auto;
	border-collapse: collapse;
  border: 1.5px solid black;
  background-color: var(--blue2);

  & thead th {
    height: 15px;
    padding: 0;
  }

  & td, th {
    font-weight: 700;
    padding: 5px;
    text-transform: uppercase;

    &:not(:first-child) {
      width: 250px;
      height: 30px;
      padding: 5px;
      border: 1px solid black;
    }

    &:first-child {
      width: auto;
      height: 35px;
      font-size: 0.8rem;
      position: relative;
      border-top: none;
      border-right: 1.5px solid black;
      top: -23px;
      text-align: right;
    }
  }

  & .loltab {background-color: #e98ebc;}
  & .mktab {background-color: #92d7c5;}
  & .pause, .snack {background-color: var(--blue2);}
  & .repas {background-color: var(--pink) ;}

  & .empty {
    border: none !important;
    background-color: transparent;
  }
}


#sponsors img {
  width: auto;
  height: 90px;
  margin-left: 2%;
  margin-bottom: 20px;

  &:first-child {
    height: 150px;
    margin-left: 0;
  }

  border-radius: 5px;
  vertical-align: middle;
  transition: transform 0.2s ease;


  &:hover {
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
  }
}


#staff .grid {
  & .column { background-color: var(--blue1); }
  & .name { border-top: white solid 4px; }
}


#footer {
  padding: 20px 0;
  text-align: center;
  background-color: white;
  box-shadow: 0 -6px 13px -7px rgb(0 0 0 / 20%);
}


#scrollTopBtn {
  z-index: 1;
  opacity: 0;
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 12px 15px;
  border-radius: 50%;
  font-size: 17px;
  background-color: var(--blue2);
  transition: background-color 0.2s ease, transform 0.2s ease, opacity 0.2s ease;

  &:hover {
    background-color: var(--pink);
  }

  &:active {
    transform: scale(0.9);
    -webkit-transform: scale(0.9);
  }
}


#mentions {
  background-color: white;

  & p {
    margin: 0;
    padding: 0;
    text-align: justify;

    &:last-child {
      margin-bottom: 50px;
    } 
  }

  & .container {padding: 0}
  & h2 {padding-top: 50px}
}


#error {
  background-color: white;
  position: absolute;
  top: 45%;
  left: 50%;
  -ms-transform: translate(-45%, -50%);
  transform: translate(-45%, -50%);
}

@media (max-width: 1100px) {
  header nav { display: none}
}

@media (max-width: 600px) {
  header #logo::after { content: "PGD" }

  #intro {
    & #intro-container {
      width: 80%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    & h1::after {
      margin: 0;
      margin-bottom: 10px;
      white-space: pre-wrap;
      content: "25 Mars 2023\A 6e édition";
    }

    & #cta {
      margin: 0;
      width: 100%;
    }
  }

  #sponsors img {
    width: 60%;
    height: auto;
    &:first-child { height: auto; }
  }

  section p, td {font-size: 16px}
  section h2 {font-size: 26px}

  .container {max-width: 80vw;}

  table td, table th {font-size: 12px;}
}

@media (max-width: 500px) {
  #sponsors img { width: 80%; }
}
